.cloud.hidden#cloud
    .cloud__title Рассуждения о высоком
    .cloud__text 14 декабря, 15:00—17:00 · Жёлтый дом
    .cloud__user-content
        img.cloud__avatar(src="http://via.placeholder.com/50x50")
        .cloud__users
            span.cloud__first-user-name Дарт Вейдер
            span.cloud__other-users  и 12 участников
    .cloud__button
        button.button.button_round
            .button__pencil
                include ../assets/pen.svg
