.date
    .date__content
        button.button.button_round.button_rotated
            .button__arrow
                include ../assets/arrow.svg
        .date__current.onShowCalendar 23 сен · Сегодня
        button.button.button_round
            .button__arrow
                include ../assets/arrow.svg
    include calendar
                